* {
	font-size:12px;
	font-family: 'Raleway', sans-serif;
	margin:0;
}

#container {
	width:700px;
}

#header {
	background-color:#FFA500;
}

#content {
	background-color:#EEEEEE;
	padding-left:20px;
	padding-right:10px;
}

#footer {
	text-align:center;
	background-color:#FFA500;
}

h1 {
    color: blue;
    text-align: center;
	margin-bottom:0px;
	font-size:18px;
	font-weight: bold;
	padding-top:10px;
}

h2 {
	margin-top:0px;
	font-size:17px;
	padding-top:10px
}

p {
	margin-bottom:0px;
	padding-top:5px;
}